<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="global.sesoc.ajaxTest.dao.commentDAO">
	
	<insert id="insert" parameterType="comment">
		INSERT INTO USERCOMMENT (num, name, text)
		VALUES (usercomment_seq.nextval, #{name}, #{text})
	</insert>
	
	<delete id="delete" parameterType="int">
		DELETE FROM USERCOMMENT WHERE NUM = #{num}
	</delete>
	
	<select id="list" resultType="Comment">
		SELECT * FROM USERCOMMENT ORDER BY num DESC
	</select>
	
</mapper>